* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: inline-flex;
    padding: 1% 0 1% 4%;
}

nav {
    padding: 1%;
    display: flex;
    width: 100%;
    height: fit-content;
    align-self: center;
}

.header > img {
    width: 100%;
    max-width: 160px;
    height: fit-content;
}

nav a {
    padding: 0.8rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    margin-right: 1rem;
    border-bottom: 2px solid rgba(255, 0, 0, 0);

    transition: background-color, border, 0.3s ease-in-out;
}

nav a:hover {
    border-bottom: 2px solid #FF0000FF;
    background-color: rgba(195, 195, 195, 0.4);
}

nav a:nth-of-type(2) {
    margin-right: 0;
}

nav a:last-of-type {
    margin-left: auto;
    margin-right: 3%;
    border-bottom: 2px solid rgba(255, 204, 0, 0.2);
    background: -webkit-linear-gradient(155deg, rgba(255, 209, 92, 0.2) 15%, rgba(255, 112, 88, 0.2) 65%, rgba(255, 209, 92, 0.2) 90%);
    background: linear-gradient(155deg, rgba(255, 209, 92, 0.2) 15%, rgba(255, 112, 88, 0.2) 65%, rgba(255, 209, 92, 0.2) 90%);
    font-size: 1.36rem;
    padding: 0.8rem 3%;

    transition:  background, border, 0.3s ease-in-out;
}

nav a:last-of-type:hover {
    border-bottom: 2px solid rgba(255, 204, 0, 1);
    background: -webkit-linear-gradient(155deg, rgba(255, 209, 92, 0.6) 15%, rgba(255, 112, 88, 0.6) 65%, rgba(255, 209, 92, 0.6) 90%);
    background: linear-gradient(155deg, rgba(255, 209, 92, 0.6) 15%, rgba(255, 112, 88, 0.6) 65%, rgba(255, 209, 92, 0.6) 90%);
}

hr {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-bottom: 0;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    background-color: #ffffff;
}

footer .cont {
    width: auto;
    padding: 3%;
}

.cont h2 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 5%;
}

.cont ul {
    list-style-type: none;
}