/* --- INIZIO HOMEPAGE --- */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.products {
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.categorie {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}

.categorie .cat {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    /*background-color: #c2c2c2;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;*/
    transform: scale(1);

    transition: transform, 0.2s ease-in-out;
}

.categorie .cat:hover {
    transform: scale(1.3);
}

.categorie .cat img {
    max-width: 100%;
    margin-bottom: 5%;
    align-self: center;
}

.categorie .cat h3 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: capitalize;
}

.categorie .cat a {
    text-decoration: none;
    color: #000000;
}

.remove_filter {
    margin-left: auto;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    background-color: #d3d3d3;
    height: fit-content;
    align-self: center;
}

.remove_filter > h4 {
    width: 10rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid #d3d3d3;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.05rem;
}

.remove_filter > h4:hover {
    font-weight: normal;
    border: 1px solid #000000;
}

.box {
    display: flex;
    flex-direction: row;
    background: -webkit-linear-gradient(155deg, rgba(255, 209, 92, 0.6) 15%, rgba(255, 112, 88, 0.5) 65%, rgba(255, 209, 92, 0.6) 90%);
    background: linear-gradient(155deg, rgba(255, 209, 92, 0.6) 15%, rgba(255, 112, 88, 0.5) 65%, rgba(255, 209, 92, 0.6) 90%);
    width: 70%;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 2%;
    justify-content: space-around;
    align-content: center;

    transition:  transform, 0.3s ease-in-out;
}

.box img {
    width: 100%;
    max-width: 128px;
    background: transparent;
    align-self: flex-start;
    padding: 1%;
}

.box .

.box h2 {
    color: #ffffff;
    align-content:  center;
    font-size: 2.3rem;

}

.box:hover {
    transform: scale(1.1);
}

.product {
    padding: 2%;
    margin: 2%;
    box-shadow: 0px 0px 15px rgba(255, 112, 88, 0.4);
    border-radius: 20px 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 0.1rem solid rgba(255, 0, 0, 0);
    color: #000000;
    text-decoration: none;

    transition: box-shadow, border, 0.3s ease-in-out;
}

.product:hover {
    box-shadow: none;
    border: 0.1rem solid rgba(255, 112, 88, 0.4);
}

.product > img {
    max-width: 100%;
    width: 260px;
    height: 260px;
    border-radius: 20px 0px;
    align-self: center;
    object-fit: contain;
}

.title-product {
    display: block;
    font-size: 1rem;
    margin-top: 3.5%;
    text-align: left;
}

.price {
    background-color: rgba(255, 112, 88, 0.4);
    align-self: flex-end;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1% 2%;
    border-radius: 8px;
    margin-bottom: 2%;
}

.product button {
    width: 100%;
    border-radius: 0;
    border: 1px solid #FF7058;
    padding: 2%;
    font-size: 1rem;
    background-color: #FF7058;
    color: #ffffff;

    transition: background-color, border, color, 0.3s ease-in-out;
}

.product button:hover {
    color: #B52C2C;
    border: 1px solid #B52C2C;
    background-color: #ffffff;
}

/* --- FINE HOMEPAGE ---*/