section {
    width: 100%;
    padding-bottom: 2%;
}

section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 20%;
    /*border: 1px solid red;*/
    margin: 0 auto;
    background-color: #e4e4e4;
    padding: 2%;

}

section form label {
    font-size: 1.2rem;
    margin-bottom: 1%;
}

section form input {
    height: 2rem;
    margin-bottom: 3%;
    outline: none;
    border: 1px solid rgba(255, 112, 88, 0);
    padding-left: 1%;
}

section form input:focus {
    border: 1px solid rgba(255, 112, 88, 1);
}

section form textarea {
    height: 10rem;
    margin: 3% 0;
    padding: 1% 0 0 1%;
    border: 1px solid rgba(255, 112, 88, 0);
    outline: none;
    resize: none;
}

section form textarea:focus {
    border: 1px solid rgba(255, 112, 88, 1);
}

section form button[type=submit] {
    background-color: #ff7058;
    border: 1px solid rgba(255, 112, 88, 0);
    font-size: 1.3rem;
    padding: 1% 0;

    transition: background-color, border, 0.3s ease-in-out;
}

section form select {
    height: 2rem;
    margin-bottom: 3%;
    outline: none;
    border: 1px solid rgba(255, 112, 88, 0);
    padding-left: 1%;
    background-color: #ffffff;
    text-transform: capitalize;
}

section form option {
    text-transform: capitalize;
}

section form button[type=submit]:hover {
    background-color: #ffffff;
    border: 1px solid rgba(255, 112, 88, 1);
}

/* Pagina INVIATO */
.inviato {
    width: 100%;
    text-align: center;
    margin: 5% 0;
}

.inviato > h3 {
    font-size:  2.5rem;
    margin-bottom: 0.8%;
}

.inviato > h3 > span {
    padding: 0.5% 1%;
    background-color: #fda395;
}

